.Root {
  display: flex;
  flex-direction: column;
  background-color: var(--base-color-neutral-1);
  padding: var(--base-size-4);
  border-radius: var(--borderRadius-large);
}

.List {
  display: flex;
  position: relative;
}

.Indicator {
}

.Panel {
  border: var(--borderWith-thin);
  border-color: var(--base-color-neutral-6);
  padding: var(--stack-gap-condensed);
  border-bottom-left-radius: var(--borderRadius-large);
  border-bottom-right-radius: var(--borderRadius-large);
  overflow-y: auto;
  background-color: var(--base-color-neutral-0);

  &[hidden] {
    display: none;
  }
}
