.shape {
  display: block;
  height: 200px;
  width: 200px;
  background: var(--base-color-neutral-2);
  border-radius: var(--borderRadius-large);

  margin-top: 0;
  margin-bottom: var(--base-size-4);

  animation: mui-pulse 1.5s infinite ease-in-out;
}

.text {
  height: 1rem;
  width: 100%;
}

.circle {
  border-radius: 50%;
}

@keyframes mui-pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
