.List {
  display: flex;
  list-style: none;
  gap: var(--stack-gap-spacious);
}

.Trigger {
  text-decoration: none;
}

.Root {
  width: 100%;
  border: var(--borderWith-thin);
}

.List[data-justify='flex-start'] {
  justify-content: flex-start;
}

.List[data-justify='center'] {
  justify-content: center;
}

.List[data-justify='flex-end'] {
  justify-content: flex-end;
}
