.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--control-medium-size);
  padding: 0 var(--stack-gap-normal);
  margin: 0;
  outline: 0;
  border: var(--borderWith-thin);
  border-color: var(--button-default-borderColor-rest);
  border-radius: var(--borderRadius-medium);
  background-color: var(--button-default-bgColor-rest);
  font: var(--text-body-shorthand-medium);
  color: var(--button-default-fgColor-rest);

  &:hover {
    background-color: var(--button-default-bgColor-hover);
    /*border-color: var(--button-default-borderColor-hover);*/
  }
}
