.List {
  display: flex;
  flex-direction: column;
  list-style: none;

  &[data-justify='flex-start'] a {
    display: flex;
    justify-content: flex-start;
  }

  &[data-justify='flex-end'] a {
    display: flex;
    justify-content: flex-end;
  }

  padding: 0px;
}

.Trigger {
  text-decoration: none;
}

.Root {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  ul {
    list-style: none;
    padding: 0;
  }
}
