.Table {
    border: var(--borderWith-thin);
    border-color: var(--table-default-border-color);
    border-radius: var(--borderRadius-large);
    /*padding: 0px var(--stack-gap-normal);*/
    font: var(--text-body-shorthand-medium);
    border-spacing: 0px;
    overflow: hidden
}