@import '/src/components/token/colors.css';
@import '/src/components/token/typography.css';
@import '/src/components/token/size.css';

:root {
  --borderWith-thin: var(--base-size-1) solid;
  --borderWith-thick: var(--base-size-2) solid;
  --borderWith-thicker: var(--base-size-4) solid;
  --borderWith-default: var(--borderWith-thin) solid;

  --stack-gap-condensed: var(--base-size-8);
  --stack-gap-normal: var(--base-size-16);
  --stack-gap-spacious: var(--base-size-24);

  --stack-padding-condensed: var(--base-size-8);
  --stack-padding-normal: var(--base-size-16);
  --stack-padding-spacious: var(--base-size-24);

  --text-body-lineHeight-large: var(--base-text-lineHeight-normal);
  --text-body-size-large: var(--base-text-size-md);

  --text-body-lineHeight-medium: var(--base-text-lineHeight-normal);
  --text-body-size-medium: var(--base-text-size-sm);

  --text-body-lineHeight-small: var(--base-text-lineHeight-relaxed);
  --text-body-size-small: var(--base-text-size-xs);

  --text-title-lineHeight-large: var(--base-text-lineHeight-normal);
  --text-title-size-large: var(--base-text-size-xl);
  --text-title-weight-large: var(--base-text-weight-semibold);

  --text-title-lineHeight-medium: var(--base-text-lineHeight-relaxed);
  --text-title-size-medium: var(--base-text-size-lg);
  --text-title-weight-medium: var(--base-text-weight-semibold);

  --text-title-lineHeight-small: var(--base-text-lineHeight-normal);
  --text-title-size-small: var(--base-text-size-md);
  --text-title-weight-small: var(--base-text-weight-semibold);

  --text-subtitle-lineHeight: var(--base-text-lineHeight-relaxed);
  --text-subtitle-size: var(--base-text-size-lg);
  --text-subtitle-weight: var(--base-text-weight-normal);

  --text-display-height: var(--base-text-lineHeight-snug);
  --text-display-lineHeight: var(--base-text-lineHeight-snug);
  --text-display-size: var(--base-text-size-2xl);
  --text-display-weight: var(--base-text-weight-medium);

  --text-caption-lineHeight: var(--base-text-lineHeight-tight);
  --text-caption-size: var(--base-text-size-xs);
  --text-caption-weight: var(--base-text-weight-normal);

  --text-body-shorthand-large: var(--base-text-weight-normal) var(--text-body-size-large) / var(--text-body-lineHeight-large)
    var(--fontStack-sansSerif);
  --text-body-shorthand-medium: var(--base-text-weight-normal) var(--text-body-size-medium) / var(--text-body-lineHeight-medium)
    var(--fontStack-sansSerif);
  --text-body-shorthand-small: var(--base-text-weight-normal) var(--text-body-size-small) / var(--text-body-lineHeight-small)
    var(--fontStack-sansSerif);

  --text-title-shorthand-large: var(--text-title-weight-large) var(--text-title-size-large) / var(--text-title-lineHeight-large)
    var(--fontStack-sansSerif);
  --text-title-shorthand-medium: var(--text-title-weight-medium) var(--text-title-size-medium) / var(--text-title-lineHeight-medium)
    var(--fontStack-sansSerif);
  --text-title-shorthand-small: var(--text-title-weight-small) var(--text-title-size-small) / var(--text-title-lineHeight-small)
    var(--fontStack-sansSerif);

  --text-display-shorthand: var(--text-display-weight) var(--text-display-size) / var(--text-display-lineHeight) var(--fontStack-sansSerif);

  --text-caption-shorthand: var(--text-caption-weight) var(--text-caption-size) / var(--text-caption-lineHeight) var(--fontStack-sansSerif);
  --text-subtitle-shorthand: var(--text-subtitle-weight) var(--text-subtitle-size) / var(--text-subtitle-lineHeight) var(--fontStack-sansSerif);

  /* Border radius */
  --borderRadius-small: var(--base-size-2);
  --borderRadius-medium: var(--base-size-4);
  --borderRadius-large: var(--base-size-8);

  /* Button neutral */
  --button-default-bgColor-rest: var(--base-color-neutral-1);
  --button-default-fgColor-rest: var(--base-color-neutral-10);
  --button-default-borderColor-rest: var(--base-color-neutral-6);

  --button-default-bgColor-hover: var(--base-color-neutral-2);
  --button-default-fgColor-hover: var(--base-color-neutral-1);
  --button-default-borderColor-hover: var(--base-color-neutral-13);

  --button-default-bgColor-active: var(--base-color-neutral-13);

  --button-default-fgColor-disabled: var(--base-color-neutral-13);
  --button-default-bgColor-disabled: var(--base-color-neutral-13);
  --button-default-borderColor-disabled: var(--base-color-neutral-13);

  --button-primary-bgColor-rest: var(--base-color-neutral-13);
  --button-primary-fgColor-rest: var(--base-color-neutral-0);
  --button-primary-borderColor-rest: var(--base-color-neutral-7);

  --button-primary-bgColor-hover: var(--base-color-neutral-9);
  --button-primary-fgColor-hover: var(--base-color-neutral-13);
  --button-primary-borderColor-hover: var(--base-color-neutral-13);

  --button-primary-bgColor-active: var(--base-color-neutral-13);

  --button-primary-fgColor-disabled: var(--base-color-neutral-13);
  --button-primary-bgColor-disabled: var(--base-color-neutral-13);
  --button-primary-borderColor-disabled: var(--base-color-neutral-13);

  --button-danger-bgColor-rest: var(--base-color-neutral-13);
  --button-danger-fgColor-rest: var(--base-color-neutral-0);
  --button-danger-borderColor-rest: var(--base-color-neutral-7);

  --button-danger-bgColor-hover: var(--base-color-neutral-9);
  --button-danger-fgColor-hover: var(--base-color-neutral-13);
  --button-danger-borderColor-hover: var(--base-color-neutral-13);

  --button-danger-bgColor-active: var(--base-color-neutral-13);

  --button-danger-fgColor-disabled: var(--base-color-neutral-13);
  --button-danger-bgColor-disabled: var(--base-color-neutral-13);
  --button-danger-borderColor-disabled: var(--base-color-neutral-13);

  --button-invisble-bgColor-rest: var(--base-color-neutral-13);
  --button-invisble-fgColor-rest: var(--base-color-neutral-0);
  --button-invisble-borderColor-rest: var(--base-color-neutral-7);

  --button-invisble-bgColor-hover: var(--base-color-neutral-9);
  --button-invisble-fgColor-hover: var(--base-color-neutral-13);
  --button-invisble-borderColor-hover: var(--base-color-neutral-13);

  --button-invisble-bgColor-active: var(--base-color-neutral-13);

  --button-invisble-fgColor-disabled: var(--base-color-neutral-13);
  --button-invisble-bgColor-disabled: var(--base-color-neutral-13);
  --button-invisble-borderColor-disabled: var(--base-color-neutral-13);

  --control-medium-size: var(--base-size-32);
}
