:root {
  --base-size-1: 1px;
  --base-size-2: 2px;
  --base-size-4: 4px;
  --base-size-6: 6px;
  --base-size-8: 8px;
  --base-size-12: 12px;
  --base-size-16: 16px;
  --base-size-20: 20px;
  --base-size-24: 24px;
  --base-size-28: 28px;
  --base-size-32: 32px;
  --base-size-36: 36px;
  --base-size-40: 40px;
  --base-size-44: 44px;
  --base-size-48: 48px;
  --base-size-64: 64px;
}
